version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: nutri-scan-backend
    ports:
      - '5000:5000'
    env_file:
      - ./backend/.env
    restart: unless-stopped
